Differentiating fake notes

In [16]:
import numpy as np
from sklearn import tree
from sklearn.tree import DecisionTreeClassifier
import pandas as pd
import matplotlib as plt
%matplotlib inline

In [4]:
data = pd.read_csv('bill_authentication.csv')

In [4]:
data.head()

   Variance  Skewness  Curtosis  Entropy  Class
0   3.62160    8.6661   -2.8073 -0.44699      0
1   4.54590    8.1674   -2.4586 -1.46210      0
2   3.86600   -2.6383    1.9242  0.10645      0
3   3.45660    9.5228   -4.0112 -3.59440      0
4   0.32924   -4.4552    4.5718 -0.98880      0

In [6]:
data.shape

(1372, 5)

In [11]:
data['Class'].unique()

array([0, 1])

In [10]:
data['Class'].count()

1372

In [12]:
data['Class'].value_counts()

0    762
1    610
Name: Class, dtype: int64

In [13]:
data.dtypes.sort_values(ascending=False)

Entropy     float64
Curtosis    float64
Skewness    float64
Variance    float64
Class         int64
dtype: object

In [15]:
data.isnull().sum().sort_values(ascending=False)

Class       0
Entropy     0
Curtosis    0
Skewness    0
Variance    0
dtype: int64

In [21]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1372 entries, 0 to 1371
Data columns (total 5 columns):
Variance    1372 non-null float64
Skewness    1372 non-null float64
Curtosis    1372 non-null float64
Entropy     1372 non-null float64
Class       1372 non-null int64
dtypes: float64(4), int64(1)
memory usage: 53.7 KB

In [20]:
data.describe()

          Variance     Skewness     Curtosis      Entropy        Class
count  1372.000000  1372.000000  1372.000000  1372.000000  1372.000000
mean      0.433735     1.922353     1.397627    -1.191657     0.444606
std       2.842763     5.869047     4.310030     2.101013     0.497103
min      -7.042100   -13.773100    -5.286100    -8.548200     0.000000
25%      -1.773000    -1.708200    -1.574975    -2.413450     0.000000
50%       0.496180     2.319650     0.616630    -0.586650     0.000000
75%       2.821475     6.814625     3.179250     0.394810     1.000000
max       6.824800    12.951600    17.927400     2.449500     1.000000

In [9]:
#Divide dataset by features and target
x = data.drop('Class',axis=1)
y = data['Class']

In [36]:
#Dividing the dataset into training and test data 80-20
from sklearn.model_selection import train_test_split
seed = 7
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.2,random_state=seed)

In [66]:
#Decide Classifier
clf = DecisionTreeClassifier(criterion='entropy')#Gini is default criterion
clf = clf.fit(x_train,y_train)

In [67]:
y_predictions = clf.predict(x_test)

In [68]:
#f1 score(bank fraud eg. where fraud transactions are very very less compared to non fraud(99.999:0.001))
#& accuracy
from sklearn.metrics import classification_report,accuracy_score,confusion_matrix
print(accuracy_score(y_test,y_predictions))

0.9854545454545455

In [69]:
print(classification_report(y_test,y_predictions))

             precision    recall  f1-score   support

          0       0.98      0.99      0.99       156
          1       0.99      0.97      0.98       119

avg / total       0.99      0.99      0.99       275

In [70]:
print(confusion_matrix(y_test,y_predictions))
#Matrix
#        Fake NotFake
#Fake    155  1
#NotFake 0    119
#        Fake NotFake
#Fake    TP  TN
#NotFake FP  FN

[[155   1]
 [  3 116]]