In [1]:
#Printing
print('my first python program')

my first python program

# Numbers & Operators

In [2]:
name = 'rakesh'
print (name)

rakesh

In [3]:
#Numbers => + - / % ** //
print("The sum of 5 + 2 is : ",(5+2))
print("The difference of 5 - 2 is : ",(5-2))
print("5 x 2 : ",(5*2))
print("5 / 2 : ",(5/2))
print("5 % 2 : ",(5%2))

The sum of 5 + 2 is :  7
The difference of 5 - 2 is :  3
5 x 2 :  10
5 / 2 :  2.5
5 % 2 :  1

In [4]:
print("5 raised to 2 or 5 ** 2 : ",(5**2))

5 raised to 2 or 5 ** 2 :  25

In [5]:
print("Round value 5 // 2 : ",(5//2))

Round value 5 // 2 :  2

In [6]:
print("1+2-3*6:",(1+2-3*6))

1+2-3*6: -15

<h1>Comments</h1>

In [7]:
#this is a single line comment
'''this is a
multiline comment'''

'this is a\nmultiline comment'

<h1>String</h1>

In [8]:
#String Concatination
name1 = 'Sachin'
name2 = 'Ramesh'
print(name1 + name2)
print("%s %s %s" %("The God of cricket is",name1,name2))

SachinRamesh
The God of cricket is Sachin Ramesh

<h1>List</h1>

In [9]:
a = [1,2,3,4,5]
print (a)
str = ['Ram','Shayam','Ravi','Gopal','Ali']
print(str)

[1, 2, 3, 4, 5]
['Ram', 'Shayam', 'Ravi', 'Gopal', 'Ali']

In [10]:
#Selecting an element
print(str[2])

Ravi

In [11]:
#Modifing list
str[2] = 'Hari'
print(str)

['Ram', 'Shayam', 'Hari', 'Gopal', 'Ali']

In [12]:
#Mixed List
mix = ['Ram','555',[1,2,3,4]]
print (mix)

['Ram', '555', [1, 2, 3, 4]]

In [13]:
#Append
str.append(8)
print(str)
#at particuler position - insert
str.insert(2,'Rahim')
print(str)

['Ram', 'Shayam', 'Hari', 'Gopal', 'Ali', 8]
['Ram', 'Shayam', 'Rahim', 'Hari', 'Gopal', 'Ali', 8]

<h3>Note:</h3>
a.append(y) argument is value<br>
a.insert(x,y) argument is position,value<br>
a.remove(y) argument is value<br>
del a[x] argument is position

In [16]:
#Remove
str.remove(8)#pass element value as argument
print(str)

['Ram', 'Shayam', 'Rahim', 'Hari', 'Gopal', 'Ali']

In [18]:
#Delete
del(str[5])
print(str)

['Ram', 'Shayam', 'Rahim', 'Hari', 'Gopal']

In [21]:
#Selection of Multiple elements / Slicing
print (str[0:4])
print (str[2:])
print (str[:4])

['Ram', 'Shayam', 'Rahim', 'Hari']
['Rahim', 'Hari', 'Gopal']
['Ram', 'Shayam', 'Rahim', 'Hari']

In [23]:
#List within a list
a = [1,2,3,4]
b = [5,6,7,8]
c = [a,b]
print (c)
#Adding lists
d = a + b
print(d)

[[1, 2, 3, 4], [5, 6, 7, 8]]
[1, 2, 3, 4, 5, 6, 7, 8]

In [24]:
#Size of list
print(len(d))

8

In [28]:
#Sorting
str = ['Ram','Shayam','Ravi','Gopal','Ali']
str.sort()
print(str)
#Reverse
str.reverse()
print(str)

['Ali', 'Gopal', 'Ram', 'Ravi', 'Shayam']
['Shayam', 'Ravi', 'Ram', 'Gopal', 'Ali']

In [33]:
#Max Min
a = ['Ram','Shayam','Ravi','Gopal','Ali']
b = ['Ram', 'Shayam', 'Ravan']
print(max(a))
print(min(a))
c = a + b
print(c)
d = [a,b]
print(d)
print(max(d))
print(min(d))

Shayam
Ali
['Ram', 'Shayam', 'Ravi', 'Gopal', 'Ali', 'Ram', 'Shayam', 'Ravan']
[['Ram', 'Shayam', 'Ravi', 'Gopal', 'Ali'], ['Ram', 'Shayam', 'Ravan']]
['Ram', 'Shayam', 'Ravi', 'Gopal', 'Ali']
['Ram', 'Shayam', 'Ravan']

<h1>Tuples</h1>

Difference between List & Tuples:
1. Tuple is immutable list is mutable
2. It can be used is dictionary but list we can't
3. Tuples are for fixed length but Tuples are for variable length

In [34]:
a = (1,2,3,4)
b = (6,7,8,9)
print(max(a))
print(len(a))
#a.append(6) gives error because tuples are immutable
c = a + b
print(c)

4
4
(1, 2, 3, 4, 6, 7, 8, 9)

In [36]:
#Converting list to tuple and tuple to list
m = [7,2,6,9]
l = tuple(m)
print(l)
f = list(a)
print(a)

(7, 2, 6, 9)
(1, 2, 3, 4)

<h1>Dictionary</h1>

Collection of key value pairs.
We can access values through key

In [43]:
mydic = {1:'Ram',2:'Hari',3:'Rahim'}
print(mydic)
mydic[4] = 'Gopal'
print(mydic)
mydic[1] = 'Sita'
print(mydic)
#Get
print(mydic.get(2))
print(mydic.keys())
print(mydic.values())

{1: 'Ram', 2: 'Hari', 3: 'Rahim'}
{1: 'Ram', 2: 'Hari', 3: 'Rahim', 4: 'Gopal'}
{1: 'Sita', 2: 'Hari', 3: 'Rahim', 4: 'Gopal'}
Hari
dict_keys([1, 2, 3, 4])
dict_values(['Sita', 'Hari', 'Rahim', 'Gopal'])

<h1>If Else Elif</h1>

In [48]:
a = 16
if a>=18:
    print("I'm an Adult")
    
elif a>=16 and a<18:
    print("I'm a Teenager")
    
else:
    print("I'm a Kid")

I'm a Teenager