In [5]:
#Nested if
a = 50
if (a > 40):
    print('inside if')
    if (a == 30):
        print('inside if of if')
    else:
        print('inside else of if')
else:
    print('inside else')

inside if
inside else of if

In [6]:
#for range
for x in range(0,20):
    print (x)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

In [9]:
#end in print
for x in range(0,20):
    print (x,end = ', ')

0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19,

In [10]:
#while loop
a = 0
while(a < 10):
    print(a)
    a+=1

0
1
2
3
4
5
6
7
8
9

In [15]:
# 2d list
p = [[1,2,3],[4,5,6],[7,8,9]]
for x in range(0,3):
    print()
    for y in range(0,3):
        print(p[x][y],end = ' ')

1 2 3
4 5 6
7 8 9

In [18]:
#input
name = input ('Enter your name:')
print('Hello',name,'!!')

Enter your name:Kush
Hello Kush !!

### String

In [25]:
a = 'Ram'
b = 'Gopal'
print (a + ' ' + b)
print ('%s %s'%(a,b))

Ram Gopal
Ram Gopal

In [36]:
a = 'I am learning python'
print(len(a))
print(max(a))
print(min(a))
print(a[2:len(a):2])
print(a[0:len(a):1])
print(a[::-1])
print(a[::-2])

20
y

a erigpto
I am learning python
nohtyp gninrael ma I
nhy nnalm
I am learning python
I AM LEARNING PYTHON

In [46]:
print(a.capitalize())#capitalise first letter of sentence
print(a.upper())
print(a.lower())
print(a.count('a'))#counts no. of a's in a
print(a.count('a',3,len(a)))# no. of a's starting from 3rd index
print(a.index('a',3,len(a)))#returns index , throws ValueError if not found
print(a.find('z'))#returns same as index, returns -1 when it doesn't find the substring

I am learning python
I AM LEARNING PYTHON
i am learning python
2
1
7
-1

In [55]:
str1 = '     Hello Fish, Have a nice day      '
print(str1.replace('l','zz',1))#replaces arg1 with arg2, arg2 denotes no of arg1 to be replaced
print(str1.strip())#removes leading and trailing spaces by default
str2 = '@   @@@Hello Fish, Have a nice day@'
print(str2.strip('@'))#replaces leading and trailing arg

     Hezzlo Fish, Have a nice day
Hello Fish, Have a nice day
   @@@Hello Fish, Have a nice day

In [57]:
#split
x = 'Ram is a good boy'
print(x.split())#splits from spaces by default
print(x.split(' ',2))

['Ram', 'is', 'a', 'good', 'boy']
['Ram', 'is', 'a good boy']

### Regular Expression

In [59]:
'''
Problem:
Ram is 24 and Sita is 22.
Hari is 31 and Rahim is 27
name = ['Ram','Sita','Hari','Rahim']
age = [24,22,31,27]
'''

"\nRam is 24 and Sita is 22.\nHari is 31 and Rahim is 27\nname = ['Ram','Sita','Hari','Rahim']\nage = [24,22,31,27]\n"